aws_region                = "ap-south-1"
project_name              = "bedrock-rag"
environment               = "dev"
repository                = "chatbot"
document_prefix           = "documents/"
monthly_budget_limit_usd  = "5"
enable_live_doc_fetch     = false
# alert_email             = "replace-with-confirmed-email@example.com"
