aws_region      = "ap-south-1"
project_name    = "bedrock-rag"
environment     = "dev"
repository      = "chatbot-aws"
document_prefix = "documents/"
# alert_email   = "replace-with-confirmed-email@example.com"
